:root {
	--main-primary-color: #4c4ae6;
	--main-white-color: #FFF;
	--footer-padding: 30px 0 30px 0;
}
/* --- footer --- */
.footer {
  font-style: italic;
  text-align: center;
  background-color: var(--main-primary-color);
  color: var(--main-white-color);
	/* margin, padding, border */
	/* border: 2px solid red; */
	padding-top: 30px;
	padding-bottom: 30px;
	/* atajo 1 */
	padding: var(--footer-padding);
	/* atajo 2 */
	padding: 30px 0;
	/* ---------- */
	margin-top: 20px;
	margin: 20px 0 0 0;
}
