:root {
	--main-primary-color: #4c4ae6;
	--main-white-color: #FFF;
	--footer-padding: 30px 0 30px 0;
}
body {
	font-family: 'Raleway', Helvetica, sans-serif;
}
/* --- navbar --- */
.navbar {
	background-color: var(--main-primary-color);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
}
.navbar .img-container img {
	width: 100%;
}
.navbar .img-container {
	width: 50px;
}
.navbar a {
	color: var(--main-white-color);
	text-decoration: none;
	/* Valor fijo mejor no usarlo. Usar flex para alinear */
	/* padding-top: 20px; */
}
/* --- main content --- */
.main-content {
	width: 90%;
	margin: 10px auto;
	max-width: 920px;
}
/* --- footer --- */
.footer {
  font-style: italic;
  text-align: center;
  background-color: var(--main-primary-color);
  color: var(--main-white-color);
	/* margin, padding, border */
	/* border: 2px solid red; */
	padding-top: 30px;
	padding-bottom: 30px;
	/* atajo 1 */
	padding: var(--footer-padding);
	/* atajo 2 */
	padding: 30px 0;
	/* ---------- */
	margin-top: 20px;
	margin: 20px 0 0 0;
}
/* --- show list --- */
/* 
  1em -> 16px
	1rem -> 16px
	rem -> normalmente para las font-size
	em -> para espaciados
*/
.shows-container h2 {
	font-size: 1rem;
	font-weight: 700;
	margin-bottom: 10px;
}

.shows-container .show-items {
	display: flex;
	flex-wrap: wrap;
}

.show-items .show-item {
	width: 50%;
}

.shows-container .show-item .image-container img {
	width: 100%;
}

